* {
    font-family: "Times New Roman";
}

body {
    background: red;
}

#main {
    max-width: 100%;
    border: 5px solid black;
    background-color: aqua;
}

#pager {
    width: 100%;
    height: 35px;
    border: 5px solid gray;
    background-color: lime;
    text-align: center;
    padding-top: 15px;
}

.list-item-pager {
    border: 2px solid gray;
    background-color:lightblue;
    padding: 2px;
    list-style-type: none;
    display: inline;
}

#menu{
    float: left;
    text-align: left;
    font-size: 20px;
    color: red;
}

.inline {
    display: inline;
}

#title {
    background-color: yellow;
    border: 5px solid green;
    width: 100%;
    font-size: 40px;
    text-align: center;
}

h1 {
    color: green;
    letter-spacing: 5px;
}

h2 {
    color: yellow;
}

h3 {
    color: red;
}

h4 {
    color: lightgreen;
}

h5 {
    color: lightcoral;
}

h6 {
    color: lightcyan;
}

p {
    text-indent: 10%;
}

    p::first-letter {
        font-size: 30px;
        color: red;
    }

table {
    background-color: blue;
    color: white;
    border: 5px solid red;
    border-spacing: 5px;
}

th {
    background-color: lightyellow;
    color: purple;
    border: 5px dotted yellow;
    text-transform: uppercase;
    padding: 2px;
}

td {
    border: 3px solid chartreuse;
    padding: 3px;
}

.c1 {
    background-color: coral;
}

.c2 {
    background-color: aqua;
}

ol {
    list-style-type: upper-roman;
}

ol ol {
    list-style-type: lower-roman;
}

ol ol ol {
    list-style-type: lower-greek;
}

#image-first {
    float: left;
}

#image-second {
    float: right;
}

.clearfix {
    overflow: auto;
}

a {
    cursor: default;
}

a:hover {
    color: red;
}
